*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #0084FD;
  --light-blue: #B5DDFF; 
  --violet: #9792E4;
  --orange: #FDC15F;
  --demo-text: #5A6E7F;
}

body{
  font-family: 'PT Sans', sans-serif;;
  background-color: white;
}

.container-header{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.container-big{
  width: 100%;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.col{
  width: 100%;
  padding 10px;
} 




/* debug */
.col{
  border: 1px solid black;
}



/* .col:first-child{
  margin-top: 50px;
}

.col:last-child{
  margin-bottom: 50px;
} */

header{
  width: 100%;
  height: 75px;
  background-color: #0084FD;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-desktop a{
  color: white;
  text-decoration: none;
  padding: 10px;
}

.menu-desktop{
  display: none;
}

#demo .container-big .col{
  background-color: white;
}

.card-demo,
.card-clean,
.card-web,
.card-development,
.card-branding{
  background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  margin: 30px;
  border-radius: 15px;
}

.card-demo img{
  max-width: 100%;
}

#demo h2{
  color: var(--blue);
  margin-bottom: 40px;
}

.card-demo p{
  color: var(--demo-text);
  font-weight: bold;
  line-height: 30px;
}

.card-clean p,
.card-web p,
.card-development p,
.card-branding p{
  color: var(--demo-text);
  font-weight: bold;
  line-height: 30px;
}
.card-text{
  text-align: center;
}

.card-clean i,
.card-web i,
.card-development i,
.card-branding i{
  color: var(--blue);
  text-align: center;
  font-size: 80px;
  margin-bottom: 30px;
}

#demo button{
  background-color: var(--blue);
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 50px;
  border-radius: 25px;
  letter-spacing: 3px;
  border: none;
  margin-top: 40px;
  margin-bottom: 40px;
}

 #demo i{
  margin-right: 5px;
 }


#jumbotron .container-big{
  background-color: #9792E4;
}

.col.testimonial{
  background-color: #9792E4;
}

#benefits .container-big{
  background-color: #9792E4;
}

#benefits .container-big .col{
  background-color: white;
}

#start .container-small{
  background-color: #9792E4;
}

footer{
  width: 100%;
  height: 230px;
  background-color: #333333;
  color: white;
}






/* Media Query */

@media screen and (min-width:768px){
  .container-big{
    width: 720px;
  }
  .container-header{
    width: 720px;
  }

  #demo .col{
    width: calc(100% / 3);
    flex-direction: row;
    flex-wrap: wrap;
  }

  #demo .col:first-child{
    width: calc(100% / 1.5);
  }

  

  #benefits .col{
    width: calc(100% / 2);
  }

  #about .col{
    width: 50%;
  }
}

@media screen and (min-width:1200px){
  .container-big{
    width: 1140px;
  }

  .container-header{
    width 1140px;
  }

  .menu-desktop{
    display: block; 
  }

  .menu-mobile{
    display: none;
  }

  .card-demo{
    flex-direction: row;
  }

  #jumbotron .col{
    width: 50%;
  }

  #benefits .col{
    width: calc(100% / 3);
  }
}
