*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
}

.container-header{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.container-big{
  width: 100%;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}


.col{
  width: 100%;
  padding 10px;
} 

/* debug */
.col{
  border: 1px solid black;
  height: 30px;
}



/* .col:first-child{
  margin-top: 50px;
}

.col:last-child{
  margin-bottom: 50px;
} */

header{
  width: 100%;
  height: 75px;
  background-color: #0084FD;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-desktop a{
  color: white;
  text-decoration: none;
  padding: 10px;
}

.menu-desktop{
  display: none;
}

#demo .container-big .col{
  background-color: #B5DDFF;
}

#jumbotron .container-big{
  background-color: #9792E4;
}

.col.testimonial{
  background-color: #9792E4;
}

#benefits .container-big{
  background-color: #9792E4;
}

#benefits .container-big .col{
  background-color: white;
}

#start .container-small{
  background-color: #9792E4;
}

footer{
  width: 100%;
  height: 230px;
  background-color: #333333;
  color: white;
}






/* Media Query */

@media screen and (min-width:768px){
  .container-big{
    width: 720px;
  }
  .container-header{
    width: 720px;
  }

  #demo .col{
    width: calc(100% / 3);
  }

  #demo .col:first-child{
    width: calc(100% / 1.5);
  }

  #benefits .col{
    width: calc(100% / 2);
  }

  #about .col{
    width: 50%;
  }
}

@media screen and (min-width:1200px){
  .container-big{
    width: 1140px;
  }

  .container-header{
    width 1140px;
  }

  .menu-desktop{
    display: block; 
  }

  .menu-mobile{
    display: none;
  }

  #jumbotron .col{
    width: 50%;
  }

  #benefits .col{
    width: calc(100% / 3);
  }
}
