*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header{
  background-color: #0084FD;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.menu-desktop a{
  color: white;
  text-decoration: none;
  padding: 10px;
}

.menu-desktop{
  display: none;
}







/* Media Query */

@media screen and (min-width:768px){
  .menu-desktop{
    display: block; 
  }

  .menu-mobile{
    display: none;
  }
}

@media screen and (min-width:1200px){
 
}
